@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

::-webkit-input-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #757575;
  font-weight: 400;
}

/*Normalize*/
html,
body {
  margin: 0;
  height: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 600;
}

b,
strong {
  font-weight: 600;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*end of Normalize*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

body {
  color: #483f3f;
  display: flex;
  flex-direction: column;
  font: 400 16px/1.2 "Oswald", sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p {
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.header-mobile-menu {
  display: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 1170px;
  width: 100%;
}

.header-contaier {
  @include flex-between-center;
}

.logo {
  img {
    width: 200px;
    height: auto;
  }
}

.header-nav ul {
  display: flex;
  padding: 0;
  margin: 0;

  li {
    flex-direction: row;
  }

  a {
    color: #483f3f;
    text-transform: uppercase;
    text-decoration: none;
    padding: 32px 18px;
    display: block;
    border-top: 4px solid transparent;
    transition: all 0.15s linear;

    &:hover,
    &.header-nav__link--active {
      color: #ce2026;
      padding: 38px 18px 26px;
      border-color: #ce2026;
    }
  }
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-conent {
  flex: 1 0 auto;
}

.heading {
  color: #bb4549;
  text-align: center;
}

.heading_big {
  font-size: 3em;
}

.heading_mid {
  font-size: 2em;
}

.heading--textleft {
  text-align: left;
}

.screen-height {
  height: calc(100vh - 87px);
  overflow: hidden;
}

.filter-brightness {
  &:hover {
    filter: brightness(1.8);
  }
}

.band {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;

  // .img-holder {
  //   flex: 0 0 253%;
  //   max-width: 25%;

  // }
}

.band__about {
  color: #fff;
  text-align: center;
  max-width: 202px;
  position: relative;
  top: 0;
  animation: to_up 2s linear 1.5s forwards;
}

.guitarist {
  flex: 0 0 262px;
  max-width: 262px;
}

.vocalist {
  flex: 0 0 213px;
  max-width: 213px;
  margin-left: -12px;
}

.basist {
  flex: 0 0 262px;
  max-width: 262px;
}

.drummer {
  flex: 0 0 193px;
  max-width: 193px;
  margin-left: -52px;

  .band__about {
    max-width: 172px;
  }
}

.blockquote {
  position: relative;
  background: #fff;
  color: #ce2026;
  margin: 0;
  padding: 1rem;
  border: solid 2px #313131;
  max-width: 100%;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    width: 2px;
    height: 70%;
    background: #fff;
  }

  &:before {
    left: -2px;
  }

  &:after {
    right: -2px;
  }

  cite {
    display: block;
    text-align: right;
    color: #483f3f;
  }
}

.mt-20 {
  margin-top: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.yt-video iframe {
  display: block;
  width: 100%;
  min-height: 60vh;
  height: auto;
  border: 0;
}

.yt-video--small iframe {
  max-width: 620px;
  min-height: 50vh;
  margin: 0 auto;
}

.photos {
  @include flex-center;
  height: 260px;
}

.photos__item {
  display: flex;
  flex-basis: 33.3333%;
  max-width: 33.3333%;
  filter: grayscale(1);
  transition: 0.5s linear;

  &:hover {
    flex-basis: 50%;
    max-width: 50%;
    filter: grayscale(0);
  }

  img {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.form-holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;

  p {
    font-weight: 400;
    color: #483f3f;
  }
}

.form-input,
.form-select {
  height: 40px;
  max-width: 100%;
  width: 228px;
  border: 2px solid #ce2026;
  border-radius: 6px;
  padding: 0 10px;
  color: #483f3f;
  background: #fff;
}

.form-select {
  color: #483f3f;
  padding-right: 0;
}

.form-label {
  flex: 0 0 100px;
  max-width: 100px;
}

.checkbox-radio-label {
  display: block;
  margin-bottom: 15px;
  min-width: 100px;
}

.form-row {
  @include flex-center;
  margin-bottom: 30px;
}

.form-column {
  flex-direction: column;
  justify-content: flex-start;
}

.btn {
  width: 29%;
  margin: 0 auto;
  border: 0;
  background: #bb4549;
  border: 2px solid #bb4549;
  border-radius: 6px;
  color: #fff;
  position: relative;
  z-index: 1;
  height: 50px;
  font-weight: 400;
  font-size: 1em;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
    width: 0;
    height: 100%;
    transition: width 0.5s ease;
  }

  &:hover {
    color: #ce2026;
  }

  &:hover:before {
    width: 100%;
  }
}

footer {
  flex: 0 0 auto;
  background: #000;
  min-height: 50px;
  padding: 10px 0;

  .logo {
    align-self: center;
  }
}

.footer-nav {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  li {
    margin: 5px 0;
    font-weight: 300;
    font-size: 0.9em;
    display: inline-block;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      opacity: 0.9;
    }
  }
}

.social {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;

  li {
    margin: 5px 0;
  }

  a {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    color: #fff;
    width: 20px;
    height: 20px;
  }
}

.bg {
  background: url(img/Seether_WebBackground.jpg) repeat scroll;
}

.flex-center {
  @include flex-center;
}

.flex-between-center {
  @include flex-between-center;
}

.vertical-centered {
  align-items: center;
}

@keyframes to_up {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
    top: -250px;
  }

  100% {
    opacity: 1;
    top: -330px;
  }
}

/*Page ABOUT*/
.slick-prev:before,
.slick-next:before {
  color: #bb4549;
}

.slider-wrap {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 25px;
  width: 100%;

  img {
    margin: 0 auto;
  }
}

.column-text {
  columns: 3;
  column-gap: 30px;
  margin: 1em 0;

  p {
    margin-top: 0;
  }
}

/*PAGE DISCOGRAPHY*/
.discography,
.singles {
  columns: 3;
  column-gap: 30px;

  li {
    margin-bottom: 5px;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      background: url(img/compact-disc-solid.svg) no-repeat;
    }

    a {
      color: #bb4549;
      // margin: 0 5px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.singles li:before {
  background: url(img/record-vinyl-solid.svg) no-repeat;
}

.album-wrap {
  @include flex-center;
  margin: 3em 0;

  > div {
    padding: 0 15px;
  }

  .album-description {
    max-width: 320px;
  }

  .tracklist {
    max-width: 50%;

    .heading {
      margin-top: 0;
    }

    ol {
      padding-left: 1.5em;
      margin: 0;
    }
  }
}

.album-img {
  max-width: 270px;
  margin: 0 auto;
  display: block;
}

/*Page Merchandise*/
.product-holder {
  position: relative;
  text-align: center;
  @include flex-center;
  flex-flow: column wrap;
  width: 100%;
  // height: 268px;
  margin: 15px 0;

  // img {
  //   max-height: 268px;
  // }

  a {
    color: #fff;
    text-decoration: none;
    display: block;
  }

  .product-info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    opacity: 0;
    @include flex-center;
    flex-direction: column;
    transition: 0.5s ease;

    img {
      max-height: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      max-width: 100%;
      /*fix for ie*/
    }

    .label {
      position: absolute;
      display: inline-block;
      min-width: 70px;
      padding: 5px;
      top: -15px;
      left: -15px;
      border-radius: 4px;
      color: #fff;
      font-weight: 400;

      &.sale {
        background-color: green;
      }
    }
  }

  &:hover .product-info {
    opacity: 1;
  }

  .price {
    font-weight: 400;
  }
}

/*Page TOUR DATES*/
.event-holder {
  display: flex;
  flex-wrap: wrap;

  margin: 25px -15px;

  & > div {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.date-holder {
  border-radius: 3px;
  padding: 10px;
  background-color: #bb4549;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 85px;

  &.inactive {
    background-color: #999;
  }

  .date-month,
  .date-year {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }

  .date-day {
    font-size: 2rem;
    font-weight: 500;
  }
}

/* Media queries*/
@media (max-width: 1440px) {
  .img-holder {
    max-height: 444px;
  }

  .guitarist {
    flex: 0 0 178px;
    max-width: 178px;
  }

  .vocalist {
    flex: 0 0 143px;
    max-width: 143px;
  }

  .basist {
    flex: 0 0 179px;
    max-width: 179px;
  }

  .drummer {
    flex: 0 0 132px;
    max-width: 132px;
    margin: -36px;
  }

  .band__about,
  .drummer .band__about {
    max-width: 130px;
    font-size: 70%;
  }

  .column-align-items-center {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  @keyframes to_up {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
      top: -100px;
    }

    100% {
      opacity: 1;
      top: -200px;
    }
  }
}

@media (max-width: 768px) {
  .screen-height {
    height: auto;
  }

  .header-contaier {
    min-height: 50px;
  }

  .logo {
    order: 2;
  }

  .header-nav {
    order: 1;

    ul a {
      padding: 18px;

      &:hover {
        padding: 24px 18px 12px;
      }
    }
  }

  .logo img {
    width: 100px;
  }

  .header-nav > ul {
    display: none;
  }

  .header-mobile-menu {
    display: block;

    ul {
      display: none;
      box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
      // border-top: 2px solid #ccc;
      position: absolute;
      z-index: 10;
      width: 0;
      height: 0;
      top: 50px;
      left: 0;
      background: #fff;
      transition: width 0.5s linear, height 0.5s ease;
    }

    &:hover ul {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .column-text,
  .discography,
  .singles {
    columns: 2;
  }
}

@media (max-width: 580px) {
  .band {
    max-width: 320px;
    margin: 0 auto;
  }

  .band__about {
    font-size: 70%;
  }

  .basist {
    margin-left: -35px;
  }

  .photos {
    flex-direction: column;
    height: 970px;
  }

  .photos__item {
    flex-basis: 50%;
    max-width: 50%;

    &:hover {
      flex-basis: 80%;
      max-width: 80%;
    }
  }

  .discography,
  .singles {
    columns: 1;
  }

  .album-wrap {
    flex-direction: column;

    .tracklist {
      max-width: 100%;
    }
  }

  .album-description {
    margin-bottom: 2em;
  }

  footer {
    .logo-wrapper {
      display: none;
    }
  }

  .footer-nav__wrapper,
  .social__wrapper {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  .footer-nav ul,
  .social {
    justify-content: center;

    li {
      margin: 5px;
    }
  }
}

@media (max-width: 480px) {
  .photos {
    height: 580px;
  }

  .drummer .band__about {
    max-width: 120px;
  }

  .guitarist .band__about {
    max-width: 140px;
  }

  .column-text {
    columns: 1;
  }

  .product-holder {
    font-size: 0.7em;
  }
}

@media (max-width: 320px) {
  .heading_big {
    font-size: 2em;
  }

  .heading_mid {
    font-size: 1.5em;
  }
}

@media (max-height: 1366px) {
  .screen-height {
    height: auto;
  }
}

/*IE hacks*/
// :-ms-fullscreen .main-conent,
// :root .main-conent {
//   flex: 0 0 auto;
// }

:-ms-fullscreen,
:root {
  .main-conent {
    flex: 0 0 auto;
  }

  .product-holder {
    a {
      max-width: 100%;
    }

    img {
      max-height: 268px;
    }
  }
}

/*Grid*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

div[class^="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
